
.content{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.box{
    height: 70px;
    width: 70px;
    background-color: greenyellow;
}

.blur {
  filter: blur(5px);
  pointer-events: none; 
}

.booked-spot-model, .vacant-spot-model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: #fffad1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: black;
}