.top-navbar {

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.logo h2 {
    background: var(--main-gradient);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav-links a {
    color: var(--gray-600);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
    transition: var(--transition);
}

.nav-links li:hover a,.nav-links li.active a {
    background: var(--main-gradient);
    color: white;
    font-size: 0.879rem;
    box-shadow: var(--shadow-xl);
}


.user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user-actions a{
    text-decoration: none;
}
.user-profile {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: var(--radius-md);
    transition: var(--transition);
}


.profile-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.637);
    transition: var(--transition);
}

.user-profile:hover{
    box-shadow: var(--shadow-md);
    background-color: #3b83f620;
    transform: scale(1.05);
}
.user-name {
    font-weight: 600;
    font-size: 0.975rem;
    color: var(--gray-900);
}


.logout-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    color: #ef4444;
    text-decoration: none;
    border-radius: var(--radius-xl);
    transition: var(--transition);
    font-weight: 600;
}

.logout-btn:hover {
    background: linear-gradient(135deg, #ef4444 0%, #ed6868 100%);
    color: white;
    box-shadow: var(--shadow-lg);
    
}