{%extends "base.html" %}

{%block style%}
<link rel="stylesheet" href="{{url_for('static',filename='css/admin_sidebar.css')}}">
{%endblock%}

{%block content %}
{% set current_path = request.path %}

<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <h2>GadiPark</h2>
            <span>Admin Panel</span>
        </div>
    </div>

    <nav class="sidebar-nav">
        <a href="{{url_for('admin.admin_dashboard')}}" class="nav-item {% if current_path == url_for('admin.admin_dashboard') %}active{% endif %}">
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
        <a href="{{url_for('admin.users_summery')}}" class="nav-item {%if current_path == url_for('admin.users_summery') %}active{% endif %}">
            <i class="fas fa-users"></i>
            <span>Users</span>
        </a>
        <a href="#" class="nav-item ">
            <i class="fas fa-chart-line"></i>
            <span>Analytics</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <a href="{{url_for('profile.profile')}}">
            <div class="admin-profile">
                <div class="profile-pic">
                <i class="fas fa-user-shield"></i>
                </div>
                <div class="profile-info">
                    <span class="profile-name">{{user.full_name}}(Admin)</span>
                    <span class="profile-role">Administrator</span>
                </div>
            </div>
        </a>
        
        <a href="{{url_for('auth.logout')}}" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>
    </div>

</div>

{%endblock%}

