<nav>
    <div class="">

    </div>
    <div class="logo">
        hello
    </div>
    <div class="nav_center">
        <h4>Home</h4>
        <h4>Pricing</h4>
        <h4>About us </h4>
        <h4>Contact us</h4>
    </div>

    <div class="nav-right">

        <a href="{{url_for('auth.signup')}}">
            <button class="signup">
                signup
            </button>
        </a>
        <a href="{{url_for('auth.login')}}">
            <button class="login">
                Log in 
            </button>
        </a>
    </div>
</nav>