{%extends "base.html" %}
{%block style%}
<link rel="stylesheet" href="{{url_for('static',filename='css/parking_lot_details.css')}}">
{%endblock%}
{% block content %}

<div class="page1">
    <h3>Parking lot name : {{lot.name}}</h3>
    <h5>Address:{{lot.address}}</h5>
    <h3>Total spots : {{lot.total_spots}}</h3>
    <h3>Available spots : {{lot.total_spots - lot.occupied_spots}}</h3>
    <h3>Hourly Rate : {{lot.hourly_rate}}</h3>
    <h3>EV spots : {{lot.ev_spots}}</h3>
    <h3>EV spots : {{lot.ev_spots}}</h3>
    {% if lot.is_24_hours %}
    <h3> Open 24/7 </h3>
    {% else %}
    <h3>Opening Time : {{lot.opening_time}}</h3>
    <h3>Closing Time : {{lot.closing_time}}</h3>
    {% endif %}
    {% set ns = namespace(n=0) %}

    <div class="content">
    {% for spot in spots %}
        <div class="box">
        <h4>{{ spot.spot_number }}</h4>
        </div>
    {% endfor %}
    </div>

</div>
{%endblock %}