{%extends 'base.html' %}

{%block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
{%endblock%}

{% block content %}
<div class="page-1">
        <div class="left">
            <div class="image">
                <img src="{{url_for('static',filename='images/signup_final.svg')}}" alt="">
            </div>
        </div>
        <div class="right">
            <div class="form-container" id="signup-container">
                <div class="form bg" id="signup-form">
                    <div class="form-header">
                        <h2>Sign Up</h2>
                        <p>Create your account by filling in the details below</p>
                    </div>
                    
                    <div class="form-content">
                        <form action="{{url_for('auth.signup')}}" method="post">
                            <div class="form-group">
                                <label for="fullname">
                                    <i class="fa-solid fa-user"></i>
                                    Full Name
                                </label>
                                <input type="text" id="fullname" name="fullname" placeholder="Moon" required>
                            </div>

                            <div class="form-group">
                                <label for="username">
                                    <i class="fa-solid fa-envelope"></i>
                                    Email Address
                                </label>
                                <input type="email" id="username" name="username" autocomplete="off" autofocus placeholder="Enter your email" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="password">
                                    <i class="fa-solid fa-lock"></i>
                                    Password
                                </label>
                                <input type="password" id="password" name="password" placeholder="Enter your password" required>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    <i class="fa-solid fa-lock"></i>
                                    Confirm Password
                                </label>
                                <input type="password" id="password" name="confirm_password" required>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="form-btn">
                                    <span>Sign Up</span>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                            
                            <div class="form-links">
                                <p>Already have an account? 
                                    <a href="{{ url_for('auth.login')}}">Login</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

